In [1]:
import numpy as np
import pandas as pd

In [2]:
firma = {"Isim" : ["Tolga","Furkan","Kılınç","Arda"],
        "Departman" : ["Yazılım","Satış","Pazarlama","Yazılım"],
        "Maas": [200,300,400,500]}

In [3]:
firmaFrame = pd.DataFrame(firma)

In [4]:
firmaFrame

     Isim  Departman  Maas
0   Tolga    Yazılım   200
1  Furkan      Satış   300
2  Kılınç  Pazarlama   400
3    Arda    Yazılım   500

In [5]:
firmaFrame["Departman"]

0      Yazılım
1        Satış
2    Pazarlama
3      Yazılım
Name: Departman, dtype: object

In [6]:
firmaFrame["Departman"].unique()

array(['Yazılım', 'Satış', 'Pazarlama'], dtype=object)

In [7]:
firmaFrame["Departman"].nunique()

3

In [8]:
firmaFrame["Departman"].value_counts()

Yazılım      2
Satış        1
Pazarlama    1
Name: Departman, dtype: int64

In [12]:
def bruttenNete(maas):
    return maas * 0.66

In [13]:
firmaFrame["Maas"].apply(bruttenNete)

0    132.0
1    198.0
2    264.0
3    330.0
Name: Maas, dtype: float64

In [14]:
firmaFrame.isnull()

    Isim  Departman   Maas
0  False      False  False
1  False      False  False
2  False      False  False
3  False      False  False

In [15]:
newData = {"Karakter Sınıfı" : ["SP","SP","Simpson","Simpson"],
           "Karakter Ismi" : ["Cartman","Kenny","Homer","Bart"],
          "Karakter Yas" : [9,1,50,20]}

In [16]:
karakterDF = pd.DataFrame(newData)

In [17]:
karakterDF

  Karakter Sınıfı Karakter Ismi  Karakter Yas
0              SP       Cartman             9
1              SP         Kenny             1
2         Simpson         Homer            50
3         Simpson          Bart            20

In [22]:
karakterDF.pivot_table(values="Karakter Yas",index=["Karakter Sınıfı","Karakter Ismi"])
# aggfunc=np.sum

                               Karakter Yas
Karakter Sınıfı Karakter Ismi
SP              Cartman                   9
                Kenny                     1
Simpson         Bart                     20
                Homer                    50