In [2]:
import numpy as np
import pandas as pd

In [3]:
data = np.random.randn(4,3)

In [4]:
data

array([[-1.32335972e+00,  1.73000712e+00,  7.47342909e-01],
       [ 7.80591314e-01,  7.17228234e-01, -1.02912090e+00],
       [-3.20380180e-02,  4.05585038e-01,  2.56721504e-01],
       [ 1.34644230e-01, -3.41690142e-04,  7.96344165e-01]])

In [5]:
ilkFrame = pd.DataFrame(data)

In [6]:
ilkFrame

          0         1         2
0 -1.323360  1.730007  0.747343
1  0.780591  0.717228 -1.029121
2 -0.032038  0.405585  0.256722
3  0.134644 -0.000342  0.796344

In [7]:
yeniDataFrame = pd.DataFrame(data, index=["1.satır","2.satır","3.satır","4.satır"],columns = ["1.sütun","2.sütun","3.sütun"])

In [8]:
yeniDataFrame

          1.sütun   2.sütun   3.sütun
1.satır -1.323360  1.730007  0.747343
2.satır  0.780591  0.717228 -1.029121
3.satır -0.032038  0.405585  0.256722
4.satır  0.134644 -0.000342  0.796344

In [9]:
yeniDataFrame["1.sütun"]

1.satır   -1.323360
2.satır    0.780591
3.satır   -0.032038
4.satır    0.134644
Name: 1.sütun, dtype: float64

In [10]:
# yeniDataFrame["1.satır"] - > hata verir
# satır için kullanılan kod -> "loc" -> location

In [11]:
yeniDataFrame.loc["1.satır"]

1.sütun   -1.323360
2.sütun    1.730007
3.sütun    0.747343
Name: 1.satır, dtype: float64

In [12]:
yeniDataFrame[["2.sütun","3.sütun"]]

          2.sütun   3.sütun
1.satır  1.730007  0.747343
2.satır  0.717228 -1.029121
3.satır  0.405585  0.256722
4.satır -0.000342  0.796344

In [13]:
# iloc = index location 
yeniDataFrame.iloc[0]

1.sütun   -1.323360
2.sütun    1.730007
3.sütun    0.747343
Name: 1.satır, dtype: float64

In [14]:
yeniDataFrame["4.sütun"] = yeniDataFrame["3.sütun"] + yeniDataFrame["3.sütun"]

In [15]:
yeniDataFrame

          1.sütun   2.sütun   3.sütun   4.sütun
1.satır -1.323360  1.730007  0.747343  1.494686
2.satır  0.780591  0.717228 -1.029121 -2.058242
3.satır -0.032038  0.405585  0.256722  0.513443
4.satır  0.134644 -0.000342  0.796344  1.592688

In [16]:
# hata almamak için axis değeri verilir. sütun = 1, satır = 0 verilir
yeniDataFrame.drop("1.sütun",axis=1)

          2.sütun   3.sütun   4.sütun
1.satır  1.730007  0.747343  1.494686
2.satır  0.717228 -1.029121 -2.058242
3.satır  0.405585  0.256722  0.513443
4.satır -0.000342  0.796344  1.592688

In [17]:
yeniDataFrame
#yukarıdaki silinen sütun'un tekrar gelmesinin seBebi droptan sonra inplace = True değerinin verilmemiş olmasıdır.

          1.sütun   2.sütun   3.sütun   4.sütun
1.satır -1.323360  1.730007  0.747343  1.494686
2.satır  0.780591  0.717228 -1.029121 -2.058242
3.satır -0.032038  0.405585  0.256722  0.513443
4.satır  0.134644 -0.000342  0.796344  1.592688

In [18]:
yeniDataFrame.drop("4.sütun",axis=1 ,inplace=True)

In [19]:
yeniDataFrame

          1.sütun   2.sütun   3.sütun
1.satır -1.323360  1.730007  0.747343
2.satır  0.780591  0.717228 -1.029121
3.satır -0.032038  0.405585  0.256722
4.satır  0.134644 -0.000342  0.796344

In [20]:
yeniDataFrame.loc["1.satır","1.sütun"]

-1.3233597240337538

In [21]:
yeniDataFrame.loc["1.satır"]["1.sütun"]

-1.3233597240337538

In [22]:
yeniDataFrame < 0

         1.sütun  2.sütun  3.sütun
1.satır     True    False    False
2.satır    False    False     True
3.satır     True    False    False
4.satır    False     True    False

In [23]:
yeniDataFrame[yeniDataFrame<0]

          1.sütun   2.sütun   3.sütun
1.satır -1.323360       NaN       NaN
2.satır       NaN       NaN -1.029121
3.satır -0.032038       NaN       NaN
4.satır       NaN -0.000342       NaN

In [24]:
yeniDataFrame[yeniDataFrame["1.sütun"] > 0]

          1.sütun   2.sütun   3.sütun
2.satır  0.780591  0.717228 -1.029121
4.satır  0.134644 -0.000342  0.796344

In [31]:
yeniDataFrame.reset_index(inplace=True)

In [32]:
yeniDataFrame

   level_0    index   1.sütun   2.sütun   3.sütun
0        0  1.satır -1.323360  1.730007  0.747343
1        1  2.satır  0.780591  0.717228 -1.029121
2        2  3.satır -0.032038  0.405585  0.256722
3        3  4.satır  0.134644 -0.000342  0.796344

In [34]:
yeniIndexListesi = ["Tolga", "Furkan", "Kılınç","Ad"]

In [36]:
# hata : yeniDataFrame.set_index["Yeni Indeks"] = yeniIndexListesi
yeniDataFrame["Yeni Indeks"] = yeniIndexListesi

In [37]:
yeniDataFrame

   level_0    index   1.sütun   2.sütun   3.sütun Yeni Indeks
0        0  1.satır -1.323360  1.730007  0.747343       Tolga
1        1  2.satır  0.780591  0.717228 -1.029121      Furkan
2        2  3.satır -0.032038  0.405585  0.256722      Kılınç
3        3  4.satır  0.134644 -0.000342  0.796344          Ad

In [40]:
yeniDataFrame.set_index("Yeni Indeks")

             level_0    index   1.sütun   2.sütun   3.sütun
Yeni Indeks
Tolga              0  1.satır -1.323360  1.730007  0.747343
Furkan             1  2.satır  0.780591  0.717228 -1.029121
Kılınç             2  3.satır -0.032038  0.405585  0.256722
Ad                 3  4.satır  0.134644 -0.000342  0.796344

In [42]:
dısIndex = ["Simpson","Simpson","Simpson","South Park","South Park","South Park",]

In [43]:
icIndex = ["Homer" , "Bart", "Marge","Cartman", "Keny", "Kyle"]

In [44]:
multiIndex = list(zip(dısIndex,icIndex))

In [45]:
multiIndex

[('Simpson', 'Homer'),
 ('Simpson', 'Bart'),
 ('Simpson', 'Marge'),
 ('South Park', 'Cartman'),
 ('South Park', 'Keny'),
 ('South Park', 'Kyle')]

In [46]:
multiIndex = pd.MultiIndex.from_tuples(multiIndex)

In [47]:
multiIndex

MultiIndex([(   'Simpson',   'Homer'),
            (   'Simpson',    'Bart'),
            (   'Simpson',   'Marge'),
            ('South Park', 'Cartman'),
            ('South Park',    'Keny'),
            ('South Park',    'Kyle')],
           )

In [48]:
cizgiFilmListesi = [[40,"A"],[10,"B"],[30,"C"],[9,"D"],[6,"E"],[9,"F"]]

In [49]:
excelHali = pd.DataFrame(cizgiFilmListesi,index=multiIndex,columns=["Yaş","Meslek"])

In [50]:
excelHali

                    Yaş Meslek
Simpson    Homer     40      A
           Bart      10      B
           Marge     30      C
South Park Cartman    9      D
           Keny       6      E
           Kyle       9      F

In [57]:
excelHali.loc["Simpson"]["Yaş"]

Homer    40
Bart     10
Marge    30
Name: Yaş, dtype: int64

In [58]:
excelHali.index.names = ["Film Adı","İsim"]

In [59]:
excelHali

                    Yaş Meslek
Film Adı   İsim
Simpson    Homer     40      A
           Bart      10      B
           Marge     30      C
South Park Cartman    9      D
           Keny       6      E
           Kyle       9      F